@font-face {
  font-family: 'Gidole';
  src: url('../fonts/gidole-regular.ttf');
}

body {
    font-family:'Gidole','Trebuchet MS', 'Arial', sans-serif;
    font-size: 13pt;
    background: #efefef;
}

@media only screen and (max-width : 1366px){
    body {
        font-size: 11pt;
    }

    .expanded-view .card-tile{
        min-height: 180px !important;
    }
}

.heading-bar, .navbar-laposte {
	position: fixed;
	width: 100%;
	z-index: 999;
}

.navbar-laposte {
	margin-top: 60px;
}

#viewContent {
	padding-top: 120px;
}
.z-container {
    max-width:85em;
    margin: auto;
}

.heading-bar {
    clear: both;
	background: #efefef;
}

.heading-bar .logo {
    margin-top: 5px;
    height: 55px;
}
.user-controls {
    float: right;
    padding: 5px;
    margin-top: 5px;
}

.user-controls button, .user-controls .dropdown{
    padding: 5px 0 5px 20px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 11pt;
}

.user-controls .dropdown a{
    font-size: 12pt;
    color: #000 !important;
}

.user-controls .dropdown a:hover{
    text-decoration: none;
}

.user-controls button .icon {
}
.navbar.navbar-laposte {
    background: #3d3d3d;
    border-color: #333;
    border-bottom: 8px solid #fecb00;
    z-index: 2;
    border-radius: 0;
}
.navbar.navbar-laposte .navbar-nav>li>a {
    text-transform: uppercase;
    font-size: 12pt;
    color: #bebebe;
    transition: 0.5s;
}

.navbar.navbar-laposte .navbar-nav>li>a:hover {
    background: #4d4d4d;
}
.navbar.navbar-laposte .navbar-nav>li>a>.icon {
    color: #fecb00;
}

.navbar.navbar-laposte .navbar-nav>li.active>a {
    background: #fecb00;
    color: #3d3d3d;
}

.navbar.navbar-laposte .navbar-nav>li.active>a>.icon {
	color: #3d3d3d;
}
.navbar.navbar-laposte .navbar-brand {
    color: #c8c8c8;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 20px;
}

.navbar.navbar-laposte .navbar-toggle {
	color: #fff;
    transition: 0.5s;
	border: none;
	padding: 2px;
}

.navbar.navbar-laposte .navbar-toggle.collapsed {
    background: none;
}
.navbar.navbar-laposte .navbar-toggle:hover, .navbar.navbar-laposte .navbar-toggle:active {
    background: none;
	color: #fecb00;
}

.navbar.navbar-laposte .dropdown-menu {
	background: #3e3e3e;
	color: #fff;
}

.navbar.navbar-laposte .dropdown-menu a {
	color: #fff;
	font-size: 11pt;
	text-transform: uppercase;
	padding: 5px;
}

.navbar.navbar-laposte .dropdown-menu a:hover {
	background:  #fecb00;
	color: #3e3e3e;
}
.spinner {
    position: fixed;
	padding-top: 200px;
	padding-left: 45%;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: rgba(1, 1, 1, 0.7);
	z-index: 1009;
	color: #fecb00;
}

.slider-caret {
	cursor: pointer;
    font-size: 14pt;
    line-height: 10px;
}

.form-control, .btn {
	border-radius: 0px;
}

.user-menu.dropdown-menu {
	margin-top: 17px;
    border-radius: 0px;
	border-bottom: 3px solid #fecb00;
	transition: 0.5s;
}

.breadcrumb > li + li:before {
   color: #CCCCCC;
   content: "/ ";
   padding: 0 5px;
}

button{
  position: relative;
  border: none;
  outline:none;
  cursor: pointer;
  background: #89669b;
  padding: 18px 60px;
  border-radius: 2px;
}

.fab{
  border-radius: 50%;
  margin:0;
  padding: 20px;
}

.material{
  position:relative;
  color:white;
  margin: 20px auto;
  height:400px;
  width:500px;
  background:#f45673;
  
}

.ripple{
  overflow:hidden;
}

.ripple-effect{
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.6);

    
  animation: ripple-animation 5s;
}


@keyframes ripple-animation {
    from {
      transform: scale(1);
      opacity: 0.4;
    }
    to {
      transform: scale(100);
      opacity: 0;
    }
}
