.observer-main-view {
	background: #fff;
	padding: 10px;
	min-height: 600px;
	box-shadow: 1px 2px 4px #ccc;
	margin-left: 15px;
}

.observer-top {
	margin: 10px;
	font-size: 11pt;
}

.observer-scores-page .breadcrumb {
	font-size: 11pt;
	background-color:rgba(0,0,0,0);
}

.observer-top .regroupment {
	margin-top: 8px;
	float: left;
}
.observer-top .toolbox {
	float: right;
	margin-top: 4px;
}

.tile-tabs>.tab {
	text-align: left;
	background: #4b7598;
	padding: 10px;
	min-height: 80px;
	box-shadow: 1px 2px 4px #ccc;
	color: #fff;
	width: 19%;
	margin-left: 1%;
	float: left;
	margin-bottom: 15px;
	background-position: right bottom;
	background-repeat: no-repeat;
	cursor: pointer;
}


@media (min-width: 576px) { 
	.tile-tabs>.tab {
		width: 100%;
		float: none;
	}
}
.tile-tabs>.tab strong {
	font-weight: normal;
	text-transform: uppercase;
	
}

.tile-tabs>.tab.active {
	background-color: #fecb00;
	color: #4b7598;
}

.tile-tabs>.tab.active strong {
	font-weight: bold;
}

.tile-tabs>.global.tab {
	background-image: url('../img/observer-tabs/global.png');
}

.tile-tabs>.banque-postale.tab {
	background-image: url('../img/observer-tabs/banque-postale.png');
}

.tile-tabs>.pro-client.tab {
	background-image: url('../img/observer-tabs/pro-client.png');
}

.tile-tabs>.synergie.tab {
	background-image: url('../img/observer-tabs/synergie.png');
}

.tile-tabs>.centre-finance.tab {
	background-image: url('../img/observer-tabs/centre-financier.png');
}


.observer-score-table {
	clear: both;
}
.observer-main-view .advance-filtering {
	padding: 5px;
	background: none;
	border: none;
	float: right;
}
