.container-synthese {
	padding: 25px 15px;
}
.card-tile {
	background: #fff;
	min-height: 220px;
	border-radius: 2px;
	box-shadow: 1px 2px 4px #ccc;
	margin-bottom: 15px;
	padding: 5px;
	animation-duration: 0.4s;
	animation-name: cardTiles;
	animation-timing-function: ease;
	text-align: left;
	width: 100%;
}

@keyframes cardTiles{
	from {
		transform: rotateX(90deg);
	}
	to {
		transform: rotateX(0deg);
	}
}

@keyframes flipVertical {
	from {
		transform: rotateY(180deg);
	}
	to {
		transform: rotateY(0deg);
	}
}

@keyframes fadeIn {
	from { opacity: 0; }
}

.card-tile .title {
	text-transform: uppercase;
	font-weight: bold;
	padding: 15px;
	padding-bottom: 5px;
	text-align: left;
	font-size: 12pt;
}


.card-tile.card-tile-clickable {
	cursor: pointer;
}

.card-tile .body{
	padding: 15px;
}

.card-tile .foot{
 	padding: 5px;
}

.card-tile .icon {
	display: none;
	color: #fff;
	font-size: 75px;
	position: absolute;
	top: 48px;
	left: 67px;
	z-index: 0;
	text-shadow: 0px 1px 1px #555;
	opacity: 0.2;
	animation-name: flipVertical;
	animation-duration: 3s;
}

.card-tile-focus {
	color: #fff;
	background-color: #4b7598;
}
.card-tile:hover, .card-tile-focus:hover {	
}

#expandedLeftSideCardView .card-indice-client {
	background:#4b7598;
}

#expandedLeftSideCardView .card-banque-postale {
	background: url('../img/la-poste-indice.png');
	background-position: right bottom;
	background-repeat: no-repeat;
	background-color: #4b7598;
}


.card-tile-focus>.title {
	text-shadow: 0px 1px 1px #333;
}

.card-tile.active {
	 color: #fff!important;
    /* border-left: 15px solid #fecb00; */
    background-color: #fecb00!important;
	text-shadow: 0px 1px 1px #333; 
}

.card-tile.card-verbatims {
	background: #444;
	color: #fff
}
.card-recontacter {
	background: url('../img/client-recontacter.png');
	background-position: bottom right;
	background-color: #fff;
	background-repeat: no-repeat;
}
.card-tile.card-recontacter h1 {
	margin-bottom: 4px;
	margin-top: 5px;
	font-size: 3em;
}

.card-tile.card-recontacter .body>p {
	font-size: 11pt;
}

.card-centre-financier {
	background: url('../img/centre_financier.png');
	background-position: bottom left;
	background-repeat: no-repeat;
	background-color: #fff;
}

.card-tile.card-centre-financier h1 {
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 3em;
}

.card-indice-client {
	background: url('../img/la-poste-indice.png');
	background-position: right bottom;
	background-repeat: no-repeat;
	background-color: #4b7598;
}

.card-clients-professionnels {
	background: url('../img/la-poste-client.png');
	background-position: right top;
	background-repeat: no-repeat;
	background-color: #4b7598;
}

@media (max-width: 	750px) {

	.card-indice-client {
		background:#4b7598;
	}

	.card-banque-postale {
		background: url('../img/la-poste-indice.png');
		background-position: right bottom;
		background-repeat: no-repeat;
		background-color: #4b7598;
	}

}

.expanded-view .card-tile {
	min-height: 200px;
}


.card-indice-client>.title {
	float: left;
}

#syntheseRing {
	margin: auto;
}

.xring-text-value {
	text-shadow: 0px 0px 1px #000;
	fill: #fff;
}

#centreFinancierNPS .xring-text-value {
	text-shadow: 0px 0px 0px #000;
	fill: #222;
}

#expandedCardView {
	background: #fff;
	padding: 15px;
	min-height: 800px;
	display: none;
}

#expandedCardView h1 {
	text-transform: uppercase;
	color: #3d3d3d;
	float: left;
}

ul.list-signatures {
	list-style-type: none;
	margin-left: -15px;
}

ul.list-signatures>li {
	font-size: 14pt;
	font-weight: light;
	margin-left: -15px;
}

.sub-questions {
	background: #fff;
	border-radius: 0px;
	margin-bottom: 15px;
	padding: 15px;
	border: 1px solid #eee;
	font-size: 12pt;
}

.sub-question {
	font-size: 12pt;
    padding: 5px 20px 5px 0;
	margin-bottom: 5px;
	margin-top: 20px;
}

.sub-questions.iscfocus {
    background: #fafafa;
    border: none;
    font-weight: bold;
    color: #4b7598;
}

.sub-questions.iscfocus .title{
	text-align: center;
    color: #000;
    text-transform: uppercase;
    width: 25%;
    float:left;
	
}

.sub-questions.iscfocus .row{
	width: 75%;
	float:right;
}

.sub-questions.iscfocus .title b{
	display: block;
    font-size: 20pt;
    font-weight: normal;
}

.sub-questions.iscfocus .sub-question{
	width: 100%;
}


@media (max-width: 750px) {
	.sub-questions.iscfocus .title{
		width: 100%;
	}
	.sub-questions.iscfocus .row{
		width: 100%;
	}
}

.sub-question .title {
	font-size: 12pt;
	text-align: center
}
.sub-question .score {
	font-size: 25pt;
	font-weight: bold;
	margin: 22px auto;
}

.period-by-controls {
	float: right;
	font-size: 10pt;
	text-transform: uppercase;
	margin-top: 20px;
}

.period-by-controls .btn {
	border-radius: 0px;
}

.verbatim {
	padding-top: 20px;
	margin-bottom: 5px;
	padding-bottom: 5px;
}
.verbatim>.author {
	text-align: left;
}
.verbatim>.author>h1{
    margin: 5px 0;
    font-size: 11pt;
    color: #fecb00;
}

.verbatim .icon{
    display: block;
    font-size: 12pt;
    top: 0;
    left: 10px;
    opacity: 1;
    animation-name: flipVertical;
    animation-duration: 3s;
}
.verbatim>.author>h2{
    margin: 5px 0;
    font-size: 10pt;
    color: #ccc;
}
.verbatim>.text {
	font-size: 10pt;
	margin-top: 15px;
	font-style: italic;
}

.navigation-buttons {
	float: right;
}
.navigation-buttons button {
	background: none;
	border: none;
	padding: 2px;
}

#ISCscore {
    font-size: 3em;
    text-shadow: 0px 0px 1px #333;
    text-align: right
}
#proScore, #banqueScore {
    font-size: 2em;
    text-shadow: 0px 0px 1px #333;
    margin-top: -15px !important;
    margin-bottom: 10px;
}

.expanded-view #ISCscore{
	margin-top: 70px;
	text-align: left;
}

.expanded-view #proScore, .expanded-view #banqueScore{
    margin-top: 20px !important;
    margin-bottom: 0 !important;
    font-size: 2.5em;
}

.expanded-view .card-tile.card-centre-financier h1{
	margin-top: 30px;
}

.expanded-view .card-tile .title{
	height: 60px;
}

#distro_banque {
	margin-top: -25px;
}
#distro_banque+.legend {
	margin-top: 15px;
	font-size: 0.7em;
	text-transform: uppercase;
}
#distro_banque+.legend .square {
	display: block;
	float: left;
	width: 18px;
	height: 12px;
	margin-right: 6px;
	background-color: #fff;
	box-shadow: 0px 0px 1px #000;
}

#distro_banque+.legend .square.dissat {
	background-color: #333;
}
#distro_banque+.legend .square.satis {
	background-color: #fecb00;
}
#distro_banque+.legend .square.neutr {
	background-color: #fff;
}

#distro_banque+.legend>ul>li {
	clear: both;
	list-style-type: none;
}

#distro_banque+.legend .score {
	margin-right: 6px;
}

.card-tile-micro {
	background: #4b7598;
	color: #fff;
	padding: 7px;
	margin: 0px -10px 10px -10px;
	font-size: 1.2em;
	box-shadow: 1px 2px 4px #ccc;
	text-align: center;
	min-height: 77px;
	cursor: pointer;
	display: block;
}

.card-tile-micro a:hover {
	text-decoration: none;
}
.card-tile-micro.active {
	/*border-bottom: #fecb00 10px solid;*/
	background-color: #fecb00;
	text-shadow: 0px 1px 1px #333;
}

.card-tile-micro>small {
	font-size: 0.7em;
	display: block;
	text-transform: uppercase;
}

.card-tile-micro:first-of-type {
	margin-left: 0px;
}