body{
	font-size: 14px;
}

.heading-bar{
	background: #3d3d3d;
    border-color: #333;
    border-bottom: 8px solid #fecb00;
}

.heading-bar .logo{
	height: 60px;
    padding: 5px;
}

.user-controls, .user-controls a{
	color:#fff;
	margin-top: 14px;
}

.navbar-laposte{
	display: none;
}

.card-user-mngmt {
	background: url('../img/user.png');
	background-position: right bottom;
	background-repeat: no-repeat;
	background-color: #4b7598;
	min-height: 180px;
}

.card-email-alerts {
	background: url('../img/email.png');
	background-position: left bottom;
	background-repeat: no-repeat;
	background-color: #4b7598;
	min-height: 180px;
}

.form-horizontal .control-label{
	text-align: left !important;
	font-weight: normal;
}

#user-management{
    padding-top: 100px;
}

#userMngmt, #emailAlerts{
	background: #fff;
    padding: 20px;
    margin-bottom: 15px;
}

#userMngmt h5, #emailAlerts h5{
	margin:0;
}

.checkbox{
	margin: 15px 0 !important;
}
.paper {
	display: block;
}
.list-of-alert-subscription {
	margin-top: 20px;
}

.list-of-alert-subscription table>thead {
	background: #4b7598;
	color: #fff;
}

.list-of-alert-subscription table tr {
 	border: 1px solid #ddd;
}

#user-management .btn-default {
	background: #4b7598;
	color: #fff;
}

.loca-select {
	border: 1px solid #ddd;
    height: 160px;
	overflow-y: scroll;
	padding: 0px;
}

.loca-select>div {
	padding: 4px 10px;
	transition: 0.5s;
	
}

.loca-select>div.active {
	background: #eee;
}

.loca-select>div>[type="checkbox"] {
	margin-top: 5px;
}


.selected-locations {
	margin-top: 10px;
}

.loca-pill {
	 font-size: 10pt;
    padding: 3px 7px;
    background: #f5f5f5;
    /* box-shadow: 0px 1px 3px #ccc; */
    border: 1px solid #eee;
}

.loca-types li {
	transition: 0.5s;
	list-style: none;
    display: flex;
}

.loca-types li input:checked + label{
	background: #d3d3d3;
}

.loca-types li label 
{
	margin: 0;
    padding: 4px 10px;
    font-weight: normal;
    flex-grow: 1;
    cursor: pointer;
}

.loca-types li:hover
{ 
  background-color: #fecb00; 
  color: #3d3d3d;
} 

.loca-types li input {
    visibility: hidden;
    width: 0;
    margin: 0;
}

.loca-options li {
    list-style: none;
    padding: 2px;
    display: flex;
}

.loca-options li:hover
{ 
  background-color: #fecb00; 
  color: #3d3d3d;
} 

.loca-options li label 
{
	margin: 0;
    padding: 4px 10px;
    font-weight: normal;
    flex-grow: 1;
    cursor: pointer;
}

li.select-all {
	color: #337ab7;
    text-decoration: none;
}