<h1 ng-bind="vm.pageTitle">Page introuvable</h1>

<div class="period-by-controls hidden">
afficher les tendances par : 
	<div class="btn-group">
		<button class="btn btn-default btn-sm">jour</button>
		<button class="btn btn-primary btn-sm">mois</button>
		<button class="btn btn-default btn-sm">ann&eacute;e</button>
	</div>
</div>

<div class="clearfix">
</div>
<br>
<div class="signatures">
	<ul class="list-signatures">
		<li ng-repeat="sig in vm.signatures">
			<div class="sub-questions row" ng-class="[sig.iscfocus]" >
				{{sig.signature}} <div class="pull-right" slider-target=".sub-question"></div>
				<br>
				<div class="sub-question col-md-6 col-lg-6" ng-repeat="q in sig.questions">
					<div class="title">{{q.title}} <b>{{q.score}}%</b></div>
					<div class="row">
						<div class="col-xs-12">
							<canvas id="trendLine_{{code}}" synthese-signature-trend data="q.trend" height="100"></canvas>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</li>
	</ul>
</div>