<div class="observer-scores-page">
	<div class="row observer-top">
		<div class="col-md-2">
			<ol class="breadcrumb">
				<li>Observer</li>
				<li class="active"><a>Scores</a></li>
			</ol>
		</div>
		<div class="col-md-10">
			<div class="regroupment">
				<label>Choix du regroupement : </label>
				<span> Centre Financier <i class="fa fa-caret"></i></span>
			</div>
			<div class="toolbox">
					<button class="btn btn-primary ripple" ripple> <i class="zmdi zmdi-filter-list"></i> Filtres</button>
					<button class="btn btn-primary ripple" ripple> <i class="zmdi zmdi-download"></i> Exportez vos donne&eacute;es</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<div class="tile-tabs">
				<button tile-tab="global" class="tab ripple global active" ripple>
					<strong>Global</strong>
				</button>
				<button tile-tab="banque-postale" class="tab ripple banque-postale" ripple>
					<strong>La banque Postale</strong>
				</button>
				<button tile-tab="pro-client" class="tab ripple pro-client" ripple>
					<strong>Pro client</strong>
				</button>
				<button tile-tab="synergie" class="tab ripple synergie" ripple>
					<strong>Synergie</strong>
				</button>
				<button tile-tab="centre-finance" class="tab ripple centre-finance" ripple>
					<strong>Centre Finance</strong>
				</button>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="col-md-10">
			<div class="observer-main-view">
				<div class="toolbox">
					<button class="advance-filtering">
						<i class="zmdi zmdi-settings"></i> Advanced Filtering
					</button>
				</div>
				<div class="observer-score-table">
					<div class="fixed-left">
						<div class="heading-row">
							<div class="cell">No regate</div>
							<div class="cell">Bureau</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>