<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>La Poste - Qualimetrie</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=0.8">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
        <!--<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap-theme.min.css">-->
        <link rel="stylesheet" type="text/css" href="vendor/zmdi/css/material-design-iconic-font.min.css">
        <link rel="stylesheet" type="text/css" href="vendor/fontawesome/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="vendor/ui-grid/ui-grid.min.css">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="fonts/sofiapro.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/application.css">
        <link rel="stylesheet" href="css/synthese.css">
		<link rel="stylesheet" href="css/observer.css">
		<link rel="stylesheet" href="app/component/location-picker/location-picker.css">
		<link rel="stylesheet" href="app/component/month-picker/month-picker.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body ng-app="zoop.laposte">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class="heading-bar">
            <div class="z-container">
                <img class="logo" src="img/lp-logo.png">
				
                <div class="user-controls">
					<zperimeter location="{type: 'loca_test', code: 'test_1234'}" date="{start: '201701', end: '201702', inputFormat: 'YYYYMM', labelFormat: 'MM/YYYY', min: '201610', max: '201710'}">		
					</zperimeter>
                    <div class="dropdown" style="display: inline-block;">
                      <a class="dropdown-toggle" type="button" data-toggle="dropdown"><span class="zmdi icon zmdi-account"></span> Jean-Luc PICARD
                      <span class="caret"></span></a>
                      <ul class="dropdown-menu user-menu">
                        <li><a href="../user_management.php"><span class="zmdi icon zmdi-settings"></span> Gestion</a></li>
                        <li><a href="#"><span class="zmdi icon zmdi-power"></span> Deconnexion</a></li>
                      </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <nav class="navbar navbar-inverse navbar-laposte" ng-controller="AppNavigationController as nav">
            <div class="z-container">
                <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target="#navbarList">
                        <i class="zmdi zmdi-menu zmdi-hc-2x "></i>
                    </button>
                    <a class="navbar-brand">Latitude</a>
                </div>
                <div class="collapse navbar-collapse" id="navbarList">
                    <ul class="nav navbar-nav">
                        <li ng-class="[nav.isActiveClass('synthese')]"> <a class="ripple" ripple ui-sref="synthese" ui-sref-opts="{reload: true}"><i class="icon zmdi zmdi-view-dashboard"></i> Synth&egrave;se</a></li>
						<li ng-class="['dropdown', nav.isActiveClass('observer')]">
							<a data-toggle="dropdown" class="dropdown-toggle ripple" ripple role="button"><i class="icon zmdi zmdi-eye"></i> Observer <b class="caret"></b></a>
							<ul role="menu" class="dropdown-menu">
								<li><a ui-sref="observer-scores" ui-sref-opts="{reload: true}">Scores</a></li>
								<li><a>D&eacute;tail des r&eacute;sultats</a></li>
							</ul>
						</li>
                        <li ng-class="[nav.isActiveClass('comparer')]"><a href="#" class="ripple" ripple><i class="icon zmdi zmdi-copy"></i> Comparer</a></li>
                        <li><a href="#" class="ripple" ripple><i class="icon zmdi zmdi-flag"></i> Agir</a></li>
                        <li><a href="#" class="ripple" ripple><i class="icon zmdi zmdi-refresh-sync"></i> Synergie</a></li>
                        <li><a href="#" class="ripple" ripple><i class="icon zmdi zmdi-share"></i> Partager</a></li>
						
                    </ul>
                </div>
            </div>
        </nav>
		<div class="spinner" ng-if="vm.isLoadingState"><i class="zmdi zmdi-hc-spin zmdi-hc-2x zmdi-spinner"></i></div>
        <div class="z-container ui-view" id="viewContent">
            
        </div>


        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script type="text/javascript" src="vendor/handlebars.js"></script>
        <script type="text/javascript" src="js/component/ring.js"></script>
        <script type="text/javascript" src="vendor/chartjs/Chart.min.js"></script>
        <script type="text/javascript" src="vendor/chartjs/Chart.bundle.min.js"></script>
        <script type="text/javascript" src="vendor/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="vendor/angular.min.js"></script>
		<script type="text/javascript" src="vendor/angular-ui-router.min.js"></script>
		<script type="text/javascript" src="vendor/ui-grid/ui-grid.min.js"></script>
		<script type="text/javascript" src="vendor/moment/moment.min.js"></script>
		<script type="text/javascript" src="vendor/moment/fr.js"></script>
		<script type="text/javascript" src="js/plugins.js"></script>
		
		<script type="text/javascript" src="app/app.module.js"></script>
		<script type="text/javascript" src="app/app.routes.js"></script>
		<script type="text/javascript" src="app/app.navigation.controller.js"></script>
		<script type="text/javascript" src="app/component/core.directive.js"></script>
        <script type="text/javascript" src="app/component/core.component.js"></script>
		<script type="text/javascript" src="app/component/perimeter/perimeter.js"></script>
		<script type="text/javascript" src="app/component/location-picker/location-picker.js"></script>
		<script type="text/javascript" src="app/component/month-picker/month-picker.js"></script>
        <script type="text/javascript" src="app/component/period/period.service.js"></script>
        <script type="text/javascript" src="app/component/perimeter/perimeter.service.js"></script>
		
		<script type="text/javascript" src="app/synthese/synthese.controller.js"></script>
		<script type="text/javascript" src="app/synthese/synthese.service.js"></script>
		<script type="text/javascript" src="app/synthese/synthese.directive.js"></script>
		<script type="text/javascript" src="app/synthese/synthese-graphs.directive.js"></script>
		<script type="text/javascript" src="app/synthese/synthese-expanded.controller.js"></script>
		<script type="text/javascript" src="app/observer/observer-scores.controller.js"></script>
		<script type="text/javascript" src="app/observer/observer-scores.directive.js"></script>
		<script type="text/javascript" src="app/observer/observer-scores.service.js"></script>
        

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!--<script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
        -->
    </body>
</html>
