<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>La Poste - Qualimetrie</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=0.8">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
        <!--<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap-theme.min.css">-->
        <link rel="stylesheet" type="text/css" href="vendor/zmdi/css/material-design-iconic-font.min.css">
        <link rel="stylesheet" type="text/css" href="vendor/fontawesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="fonts/sofiapro.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/application.css">
        <link rel="stylesheet" type="text/css" href="css/synthese.css">
        <link rel="stylesheet" type="text/css" href="css/user-management.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>

        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    </head>
    <body ng-app="zoop.laposte">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class="heading-bar">
            <div class="z-container">
                <img class="logo" src="img/lp-logo-inverted.png">
                <div class="user-controls">
					<a href="index.html"> Retour </a> | <a href="">Deconnexion <span class="zmdi icon zmdi-power"></span></a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <nav class="navbar navbar-default navbar-laposte">
            <div class="z-container">
                <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target="#navbarList">
                        <i class="zmdi zmdi-menu zmdi-hc-2x "></i>
                    </button>
                    <a class="navbar-brand">Latitude</a>
                </div>
                <div class="collapse navbar-collapse" id="navbarList">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="index.html"><i class="zmdi zmdi-view-dashboard"></i> Synth&egrave;se</a></li>
                        <li><a href="#"><i class="icon zmdi zmdi-eye"></i> Observer</a></li>
                        <li><a href="#"><i class="icon zmdi zmdi-copy"></i> Comparer</a></li>
                        <li><a href="#"><i class="icon zmdi zmdi-flag"></i> Agir</a></li>
                        <li><a href="#"><i class="icon zmdi zmdi-refresh-sync"></i> Synergie</a></li>
                        <li><a href="#"><i class="icon zmdi zmdi-share"></i> Partager</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="z-container">
            <div id="user-management" ng-controller="UserManagementController as vm">
				<div class="spinner" ng-if="vm.isLoadingState"><i class="zmdi zmdi-hc-spin zmdi-hc-2x zmdi-spinner"></i></div>
                <div class="col-md-2">
                    <div class="card-tile card-tile-focus card-user-mngmt" ng-class="{'active':vm.isTab('default')}" ng-click="vm.setTab('default')">
                        <div class="title">USER ACCOUNT <br/> MANAGEMENT</div>
                    </div>
                    <div  class="card-tile card-tile-focus card-email-alerts" ng-class="{'active':vm.isTab('email_alerts')}" ng-click="vm.setTab('email_alerts')">
                        <div class="title">EMAIL <br/> ALERTS</div>
                    </div>
                </div>
                <div class="col-md-10">
                    <div id="userMngmt" class="paper" ng-if="vm.isTab('default')">
                        <h4>Modifier mes informations:</h4>
                        <form class="form-horizontal">
                          <div class="form-group">
                            <label for="currentPassword" class="col-sm-3 control-label">Mot de passe actuel (requis)</label>
                            <div class="col-sm-6">
                              <input type="password" class="form-control" id="currentPassword" >
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="name" class="col-sm-3 control-label">Nom</label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control" id="name" ng-model="vm.user.name" disabled>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="email" class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control" id="email" ng-model="vm.user.email" disabled>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="username" class="col-sm-3 control-label">Nom d'utilisateur</label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control" id="username" ng-model="vm.user.username" disabled>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="newPassword" class="col-sm-3 control-label">Nouveau mot de passe</label>
                            <div class="col-sm-5">
                              <input type="password" class="form-control" ng-model="vm.user.newpassword" id="newPassword">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="confirmPassword" class="col-sm-3 control-label">Confirmez</label>
                            <div class="col-sm-5">
                              <input type="password" class="form-control" ng-model="vm.user.confirmpassword" id="confirmPassword">
                            </div>
                          </div>

                          <br />
                          <h5>S&eacute;lectionnez le p&eacute;rim&egrave;tre que vous souhaitez obtenir lors de votre connexion sur Rubis</h5>
                          <small><i>Si je suis un bureau, je choisis BUREAU puis je s&eacute;lectionne mon bureau</i></small>
                          <br /><br />

                          <div class="form-group">
                            <label for="confirmPassword" class="col-sm-3 control-label">Niveau</label>
                            <div class="col-sm-5">
                                <select class="form-control" ng-model="vm.user.level">
                                    <option value="national">National</option>
                                    <option value="dex">DEX</option>
                                    <option value="cf">Centre Financier</option>
                                    <option value="dast">DAST</option>
                                    <option value="five">...</option>
                                </select>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="col-sm-2">
                              <button type="submit" class="btn btn-primary">Envoyer</button>
                            </div>
                          </div>
                        </form>
                    </div>
					<div id="emailAlerts" class="paper" ng-if="vm.isTab('email_alerts')">
                        <h4>Choisir vos alertes e-mail:</h4>
                        <h5>S&eacute;lectionnez le p&eacute;rim&egrave;tre</h5>
                        <small><i>Pour les niveaux sup&eacute;rieurs au BUREAU, vous recevrez une seule alerte contenant le r&eacute;capitulatif pour tous vos bureaux</i></small>
                        <br /><br />
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-sm-3 col-lg-2 control-label">Choisisez influx </label>
								<div class="col-sm-4">
									<select class="form-control"
                                        ng-model="vm.current.influx"
                                        ng-init="vm.current.influx = vm.influxes[0]"
                                        ng-options="influx.name for influx in vm.influxes">
                                    </select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 col-lg-2 control-label">Choisisez p&eacute;rim&egrave;tre</label>
								<div class="col-sm-9">
									<div class="locations-dialog-box">
										<ul class="col-xs-6 loca-select loca-types">
                                          <li ng-repeat="level in vm.current.influx.levels">
                                            <input type="radio" name="level" value="{{level.code}}" id="{{level.code}}" ng-checked="$first"/>
                                            <label for="{{level.code}}">{{level.name}}</label>
                                          </li>
                                        </ul>
										<ul class="col-xs-6 loca-select loca-options">
                                          <li class="select-all">
                                            <input type="checkbox" name="location" value="tous" id="tous">
                                            <label for="tous">Tous</label>
                                          </li>
                                          <li ng-repeat="location in vm.locations">
                                            <input type="checkbox" name="location" value="{{location.code}}" id="{{location.code}}">
                                            <label for="{{location.code}}">{{location.name}}</label>
                                          </li>
                                        </ul>
										<div class="col-xs-12 selected-locations">
											<span>Votre selection(s) : </span> <span class="loca-pill">DR Alpes Maritimes </span>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-5 col-sm-offset-3 col-lg-offset-2">
									<button class="btn btn-default">Ajouter</button>
								</div>
							</div>
						</div>

						<div class="list-of-alert-subscription">
							<div class="form-horizontal">
								<div class="form-group">
									<label class="col-sm-3 col-lg-2 control-label">
										Liste des alertes
									</label>
									<div class="col-sm-9">
										<table class="table">
										<thead>
											<tr><td>Nom d'alerte</td><td>Date de creation</td><td>Supprimer</td></tr>
										</thead>
										<tbody ng-repeat="alert in vm.user.alerts">
                                          <tr><td>{{ alert.name }}</td><td>{{ alert.date_created }}</td><td><i class="fa fa-trash"></i></td></tr>
                                        </tbody>
									</table>
									</div>
								</div>
							</div>
						</div>
                    </div>
                </div>
            </div>
        </div>


        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
		<script type="text/javascript" src="vendor/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="vendor/angular.min.js"></script>
		<script type="text/javascript" src="vendor/angular-ui-router.min.js"></script>
        <script src="app/app.module.js"></script>
		<script src="app/app.routes.js"></script>
	    <script src="app/user-management/user-management.controller.js"></script>
		<script src="app/user-management/user-management.service.js"></script>
    </body>
</html>

