.zmonth-picker-wrapper {
	display: inline-block;
	position: relative;
}

.dropdown-menu.zmonth-picker {
	display: block;
	position: absolute;
	top: 2.3em;
	left: 0em;
	width: 28em;
}

.dropdown-menu.zmonth-picker::after, .dropdown-menu.zmonth-picker::before {
	content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -13px;
    left: 9px;    
	border: 7px solid transparent ;
	border-bottom: 7px solid #ffffff;
}

.dropdown-menu.zmonth-picker::before {
    top: -14px;
    border-bottom:  7px solid #d3d3d3;
}

.zmonth-selectors {
    padding: 10px;
}

.zmonth-selectors .form-control.zmonth-start,  
.zmonth-selectors .form-control.zmonth-end {
	width: 10em;
	text-transform: uppercase;
}

.zmonth-buttons {
    padding: 0px 10px 10px;
    text-align: center;
}

.zmonth-buttons .btn {
	    color: #333;
    border: 1px solid #ddd;
	background-color: #ededed;
    padding: 5px 18px;
}