<div class="zmonth-picker-wrapper">
	<button class="btn btn-default" ng-click="zperimMonth.togglePicker($event)">
	<span class="zmdi icon zmdi-calendar"></span> <span class="period-label hidden-xs">{{zperimMonth.label}}</span>
	</button>

	<div class="dropdown-menu zmonth-picker" ng-show="zperimMonth.pickerDisplayed">
		<!-- .zmonth-selectors -->
		<div class="form-inline zmonth-selectors">
			<div class="form-group">
				<select class="form-control zmonth-year" ng-model="zperimMonth.model.year" ng-options="year as year for year in zperimMonth.years" ng-change="zperimMonth.onYearChange()"></select>  		
			</div>
			<div class="form-group">
				<select class="form-control zmonth-start" ng-model="zperimMonth.model.start" ng-options="month.value as month.label for month in zperimMonth.months" ng-change="zperimMonth.onMonthStartChange()"></select>			
			</div>
			<div class="form-group">
				<select class="form-control zmonth-end" ng-model="zperimMonth.model.end" ng-options="month.value as month.label for month in zperimMonth.months" ng-change="zperimMonth.onMonthEndChange()"></select>
			</div>
		</div>
		<!-- /.zmonth-selectors -->

		<div class="form-inline zmonth-buttons">
			<div class="form-group">
				<button class="btn btn-success" ng-click="zperimMonth.onApply()">Appliquer</button>			
				<button class="btn btn-default" ng-click="zperimMonth.onCancel()">Annuler</button>
			</div>
		</div>
	</div>
</div>