<div class="container-synthese" synthese-behaviour>


	<div class="row expanded-view">
		<div class="col-md-12 visible-xs">
			<div class="row">
				<div class="col-xs-4">
					<button class="card-tile-micro ripple" ripple card-id="synthese">
						<strong ng-bind="vm.data.isc.score"></strong>
						<small>Indice Client</small>
					</button>
				</div>
				<div class="col-xs-4">
					<button class="card-tile-micro card-tile-clickable ripple" ripple card-id="banque-postale">
						<strong ng-bind="vm.data.banque.score"></strong>
						<small>La Banque Postal</small>
					</button>
				</div>
				<div class="col-xs-4">
					<button class="card-tile-micro card-tile-clickable ripple" ripple card-id="clients-professionnels">
						<strong ng-bind="vm.data.pro.score"></strong>
						<small>Clients Professionnels</small>
					</button>
				</div>
			</div>
		</div>
		<div class="col-md-2 hidden-xs hidden-sm">
			<div id="expandedLeftSideCardView">
				<button card-id="synthese" class="card-tile card-tile-focus card-indice-client ripple" ripple>
					<div class="title">Indice Client</div>
					<div class="body">
						<div id="ISCscore" ng-bind="vm.data.isc.score">
							--.--
						</div>
					</div>
				</button>
				<button card-id="banque-postale" class="ripple card-tile card-tile-clickable card-tile-focus card-banque-postale ripple" ripple>
					<div class="title">La banque postale</div>
					<div class="body row">
						<div class="col-xs-12">
							<div id="banqueScore" ng-bind="vm.data.banque.score">--.--</div>
						</div>
					</div>
				</button>
				<button card-id="clients-professionnels" class="card-tile card-tile-clickable card-tile-focus card-clients-professionnels ripple" ripple>
					<div class="title">Clients Professionnels</div>
					<div class="body">
						<div id="proScore" ng-bind="vm.data.pro.score">--.--</div>
					</div>
				</button>
			</div>
		</div>
		<div class="col-md-8">
			<div id="expandedCardView" style="display:block">
				<div class="spinner" ng-if="vm.isLoadingState"><i class="zmdi zmdi-hc-spin zmdi-hc-2x zmdi-spinner"></i></div>
				<div ui-view></div>
			</div>
		</div>
		<div class="col-md-2 hidden-xs hidden-sm">
			<div id="expandedRightSideCardView">
				<button card-id="centre-financier" class="card-tile card-tile-clickable card-centre-financier ripple" ripple>
					<div class="title">Centre financier</div>
					<div class="body">
						<div class="row">
							<div class="col-xs-12">
								<div id="financierScore" ng-bind="vm.data.financier.score">--.--</div>
							</div>
						</div>
					</div>
				</button>
				<button card-id="recontacter" class="card-tile card-recontacter card-tile-clickable ripple" ripple>
					<div class="title">Client &agrave; recontacter</div>
					<div class="body">
						<h1 ng-bind="vm.data.recontact">--</h1>
						<p>Client qui est moin satisfait [Need more complete description]</p>
					</div>
				</button>
			</div>
		</div>
	</div>

</div>

