<div class="spinner" ng-if="vm.isLoadingState"><i class="zmdi zmdi-hc-spin zmdi-hc-2x zmdi-spinner"></i></div>
<div class="container-synthese" synthese-behaviour>
	<div class="row">
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-12">
					<div card-id="synthese" class="card-tile card-tile-focus card-indice-client">
						<div class="title">Indice Client</div>
						<div class="body">
							<div id="ISCscore" ng-bind="vm.data.isc.score">
								--.--
							</div>
							<div class="trend-line">
								<canvas synthese-trend-lines height="110" data="vm.data.isc.trend" labels="vm.data.isc.trendLabels"></canvas>
							</div>
						</div>
						<div class="icon">
							<i class="fa fa-heartbeat"></i>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<button card-id="banque-postale" class="card-tile card-tile-clickable card-tile-focus card-banque-postale ripple" ripple>
						<div class="title">La banque postale</div>
						<div class="body row">
							<div class="col-xs-6">
								<div id="banqueScore" ng-bind="vm.data.banque.score">--.--</div>
								<div class="trend-line">
									<canvas  synthese-trend-lines height="100" data="vm.data.banque.trend" labels="vm.data.banque.trendLabels"></canvas>
								</div>
							</div>
							<div class="col-xs-6 hide-when-expanded">
								<canvas id="distro_banque" synthese-banque-pie data="vm.data.banque.expanded" height="80" width="150"></canvas>
								<div id="distro_banque_legend" class="legend">
									<ul>
										<li><span class="square satis"></span> <span ng-bind="vm.data.banque.expanded.datePercent[0]" class="satisfied score">--%</span> Satisfait</li>
										<li><span class="square dissat"></span> <span ng-bind="vm.data.banque.expanded.datePercent[1]" class="dissatisfied score">--%</span> Non satisfait</li>
										<li><span class="square neutr"></span> <span ng-bind="vm.data.banque.expanded.datePercent[2]" class="neutral score">--%</span> Neutral</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="icon">
							<i class="fa fa-bank"></i>
						</div>
					</button>
				</div>
				<div class="col-sm-6">
					<button card-id="clients-professionnels" class="card-tile card-tile-clickable card-tile-focus card-clients-professionnels ripple" ripple>
						<div class="title">Clients Professionnels</div>
						<div class="body">
							<div id="proScore" ng-bind="vm.data.pro.score">--.--</div>
							<div class=" trend-line">
								<canvas synthese-trend-lines height="100" data="vm.data.pro.trend" labels="vm.data.pro.trendLabels"></canvas>
							</div>
						</div>
						<div class="icon">
							<i class="fa fa-briefcase"></i>
						</div>
						
					</button>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-6">
					<button card-id="recontacter" class="card-tile card-recontacter card-tile-clickable ripple" ripple data-ripple-color="#f4f7f9">
						<div class="title">Client &agrave; recontacter</div>
						<div class="body">
							<h1 ng-bind="vm.data.recontact">--</h1>
							<p>Client qui est moin satisfait [Need more complete description]</p>
						</div>
					</button>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-6">
					<button card-id="centre-financier" class="card-tile card-tile-clickable card-centre-financier ripple" ripple data-ripple-color="#f4f7f9">
						<div class="title">Centre financier</div>
						<div class="body row">
							<div class="col-xs-6">
								<div id="financierScore" ng-bind="vm.data.financier.score">--.--</div>
								<div class="trend-line">
									<canvas  synthese-trend-lines height="100" data="vm.data.financier.trend" labels="vm.data.financier.trendLabels"></canvas>
								</div>
							</div>
							<div class="col-xs-6 hide-when-expanded">
								<canvas id="distro_financier" synthese-financier-pie data="vm.data.financier.expanded" height="80" width="150"></canvas>
								<div id="distro_financier_legend" class="legend">
									<ul>
										<li><span class="square promoter"></span> <span ng-bind="vm.data.financier.expanded.datePercent[0]" class="satisfied score">--%</span> Promoters</li>
										<li><span class="square passive"></span> <span ng-bind="vm.data.financier.expanded.datePercent[1]" class="dissatisfied score">--%</span> Passives</li>
										<li><span class="square detractor"></span> <span ng-bind="vm.data.financier.expanded.datePercent[2]" class="neutral score">--%</span> Detractors</li>
									</ul>
								</div>
							</div>
						</div>
					</button>
				</div>
			</div>
		</div>
		<div class="col-lg-12">
			<div class="row">
				<div class="col-md-12">
					<div card-id="verbatims" class="card-tile card-verbatims">
						<div class="title">Parole de client</div>
						<div class="body row" id="verbatimsContainer">
							<div class="col-sm-4" ng-repeat="cmt in vm.data.lbpComments">
								<div class="verbatim">
									<span class="fa fa-bank icon"></span>
									<div class="author">
										<h1>{{cmt.client}}</h1>
										<h2>{{cmt.date}}</h2>
									</div>
									<div class="text">
										{{cmt.comment}}
									</div>
								</div>
							</div>

							<div class="col-sm-4" ng-repeat="cmt in vm.data.proComments">
								<div class="verbatim">
									<span class="fa fa-briefcase icon"></span>
									<div class="author">
										<h1>{{cmt.client}}</h1>
										<h2>{{cmt.date}}</h2>
									</div>
									<div class="text">
										{{cmt.comment}}
									</div>
								</div>
							</div>

							<div class="col-sm-4" ng-repeat="cmt in vm.data.financierComments">
								<div class="verbatim">
									<span class="fa fa-euro icon"></span>
									<div class="author">
										<h1>{{cmt.client}}</h1>
										<h2>{{cmt.date}}</h2>
									</div>
									<div class="text">
										{{cmt.comment}}
									</div>
								</div>
							</div>
						</div>
						<div class="foot">
							<div class="navigation-buttons">
								<button class="prev"><i class="fa fa-chevron-left"></i></button>
								<button class="next"><i class="fa fa-chevron-right"></i></button>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>