<div class="container-synthese">

	<div class="row">
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-12">
					<div card-id="indice-client" class="card-tile card-tile-focus card-indice-client">
						<div class="title">Indice Client</div>
						<div class="body">
							<div id="ISCscore">
								--.--
							</div>
							<div class="trend-line">
								<canvas id="trendLine_ic" height="110" ></canvas>
							</div>
						</div>
						<div class="icon">
							<i class="fa fa-heartbeat"></i>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div card-id="banque-postale" class="card-tile card-tile-clickable card-tile-focus card-banque-postale">
						<div class="title">La banque postale</div>
						<div class="body row">
							<div class="col-xs-6">
								<div id="banqueScore">--.--</div>
								<div class="trend-line">
									<canvas id="trendLine_banque" height="100"></canvas>
								</div>
							</div>
							<div class="col-xs-6 hide-when-expanded">
								<canvas id="distro_banque" height="80" width="150"></canvas>
								<div id="distro_banque_legend" class="legend">
									<ul>
										<li><span class="square satis"></span> <span class="satisfied score">--%</span> Satisfait</li>
										<li><span class="square dissat"></span> <span class="dissatisfied score">--%</span> Non satisfait</li>
										<li><span class="square neutr"></span> <span class="neutral score">--%</span> Neutral</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="icon">
							<i class="fa fa-bank"></i>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div card-id="clients-professionnels" class="card-tile card-tile-clickable card-tile-focus card-clients-professionnels">
						<div class="title">Clients Professionnels</div>
						<div class="body">
							<div id="proScore">--.--</div>
							<div class=" trend-line">
								<canvas id="trendLine_pro" height="100"></canvas>
							</div>
						</div>
						<div class="icon">
							<i class="fa fa-briefcase"></i>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-6">
					<div card-id="centre-financier" class="card-tile card-tile-clickable card-centre-financier">
						<div class="title">Centre financier</div>
						<div class="body">
							<div class="row">
								<div class="col-xs-7">
									<h1><span  id="financierScore">--</span>%</h1>
								</div>
								<div class="col-xs-5 hide-when-expanded">
									<div id="centreFinancierNPS"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-6">
					<div card-id="recontacter" class="card-tile card-recontacter card-tile-clickable">
						<div class="title">Client &agrave; recontacter</div>
						<div class="body">
							<h1>--</h1>
							<p>Client qui est moin satisfait [Need more complete description]</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-12">
			<div class="row">
				<div class="col-md-12">
					<div card-id="verbatims" class="card-tile card-verbatims">
						<div class="title">Parole de client</div>
						<div class="body row" id="verbatimsContainer">
							Pas disponible
						</div>
						<div class="foot">
							<div class="navigation-buttons">
								<button class="prev"><i class="fa fa-chevron-left"></i></button>
								<button class="next"><i class="fa fa-chevron-right"></i></button>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row expanded-view">
		<div class="col-md-12 visible-xs">
			<div class="row">
				<div class="col-xs-3">
					<div class="card-tile-micro">
						<i class="fa fa-th-large"></i>
						<small>Synth&egrave;se</small>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="card-tile-micro card-tile-clickable" card-id="banque-postale">
						<i class="fa fa-bank"></i>
						<small>La Banque Postal</small>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="card-tile-micro card-tile-clickable" card-id="clients-professionnels">
						<i class="fa fa-briefcase"></i>
						<small>Clients Professionnels</small>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2 hidden-xs hidden-sm"><div id="expandedLeftSideCardView"></div></div>
		<div class="col-md-8"><div id="expandedCardView"></div></div>
		<div class="col-md-2 hidden-xs hidden-sm"><div id="expandedRightSideCardView"></div></div>
	</div>

</div>

<script id="templateSignatures" type="text/x-handlebars-template">
	<ul class="list-signatures">
		{{#kpis}}
		<li>
			<div class="sub-questions row {{iscfocus}}">
				{{signature}}
				<br>
				{{#questions}}
					<div class="sub-question col-md-6 col-lg-4">
						<div class="title">{{title}} <b>{{score}}%</b></div>
						<div class="row">
							<div class="col-xs-12">
								<canvas id="trendLine_{{code}}" height="100"></canvas>
							</div>
						</div>
					</div>
				{{/questions}}
				<div class="clearfix"></div>
			</div>
		</li>
		{{/kpis}}
	</ul>
</script>

<script id="tempplateVerbatims" type="text/x-handlebars-template">
	{{#comments}}
	<div class="col-sm-4">
		<div class="verbatim">
			<div class="author">
				<h1>{{client}}</h1>
				<h2>{{date}}</h2>
			</div>
			<div class="text">
				{{comment}}
			</div>
		</div>
	</div>
	{{/comments}}
</script>