.show {
    display: block !important;
}

.region-select-menu {
    display: none;
    margin-top: 1px;
    position: absolute;
}

.btn-region-picker {
    background-color: #295db2;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer; 
}

.region-picker-list {
    padding-left: 0;
}
.region-picker-list li {
    list-style: none;
    height: 40px;
    display: flex;

}

.region-picker-list li:hover
{ 
  background-color: #fecb00; 
  color: #3d3d3d;
} 

.region-picker-list li input {
    visibility: hidden;
    width: 0;
    margin: 0;
}

.region-picker-list li input:checked
{
  background-color: lightyellow;
}

.region-picker-list label 
{
    padding: 10px;
    margin: 0;
    font-weight: normal;
    flex-grow: 1;
    cursor: pointer;
}

.region-panel {
    width: 160px;
    padding: 1px 0;
	font-size: 11pt;
}

.area-panel {
    width: 320px;
    border-left: 1px solid #d3d3d3;
    padding: 0 2px;
}

.area-category-selector {
    margin-top: 2px;
    padding: 6px;
}

.select-all {
    width: 80px;
}
.region-select-wrapper {
    border: 1px solid #d3d3d3;
    height: 320px;
    width: 160px;
    border-radius: 4px;
    display: flex;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position: relative;
}
.region-select-wrapper.extended {
    width: 480px;
}
.region-select-wrapper .panel {
    display: flex;
    flex-direction: column;
}

.region-select-wrapper:after, .region-select-wrapper:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    position: absolute;
    top: -13px;
    left: 9px;
    border-style: solid;
    border-width: 7px;
    border-color: transparent transparent #ffffff transparent;
}

.region-select-wrapper:before {
    top: -14px;
    border-color: transparent transparent #d3d3d3 transparent;
}

.region-picker-list 
{
    width: 100%;
    padding: 0;
    margin: 0;
}

ul.area-picker {
    height: 206px;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    margin-bottom: 2px;
    overflow-y: auto;
    padding-left: 0;
}

ul.area-picker.extended {
    height: 200px;
}

.area-picker label 
{
    margin: 0;
    font-weight: normal;
    flex-grow: 1;
}

.area-picker li 
{
    border-radius: 4px;
    list-style: none;
    padding: 2px;
    display: flex;
}
.area-picker li:hover
{ 
  background-color: #fecb00; 
  color: #3d3d3d;
} 

.area-picker li input:checked
{
  background-color: #3d3d3d;
}

.area-picker label 
{
    margin: 0;
    font-weight: normal;
    flex-grow: 1;
}

.area-filter {
    margin: 2px 0;
}

.region-panel > input:checked + label {
    background-color: #4b7598;
    color: #ffffff;
}

.area-sector {
    margin-top: 2px;
}

.area-picker-controls {
	color: #3d3d3d;
}

.area-picker-controls>.btn {
	color: #3d3d3d;
	padding: 5px 10px;
	border: 1px solid #ddd;
}
