

<button ng-controller="zperimeterLocationController" ng-click="togglePicker($event)" class="perimeter-control locationButton"><i class="zmdi zmdi-pin"></i> <span class="hidden-xs" ng-bind="current.region"></span></button>
<div class="region-select-menu" id="regionPicker">
  <form class="region-select-wrapper" ng-class="{extended: current.region !== 'National' }">
    <div class="region-panel">
      <ul class="region-picker-list" name="regionSelect" ng-model="data.model">
        <li ng-repeat="region in data.regions">
          <input type="radio" name="region" id="region-{{region.id}}" ng-model="curRegion" value="{{region.id}}" ng-click='pickRegion(region)'/>
          <label for="region-{{region.id}}">{{region.name}}</label>
        </li>
      </ul>
    </div>
    <div class="area-panel" ng-hide="current.region == 'National'">
    <select class="form-control area-sector" ng-hide="current.region !== 'SECTEUR' && current.region !== 'BUREAU'">
        <option ng-repeat="sector in data.sectors">{{ sector.name }}</option>
    </select> 
    <input type="search" ng-model="aFilter" class="form-control area-filter" placeholder="Filter">
    <ul class="area-picker" ng-class="{extended: current.region !== 'SECTEUR' && current.region !== 'BUREAU'}">
      <li ng-repeat="location in data.locations| filter:aFilter">
        <input type="checkbox" id="location-{{location.id}}" ng-model="location.selected" ng-click="pickLocation(location)"/>
        <label for="location-{{location.id}}">{{ location.name }}</label>
      </li>
    </ul>
    <div class="area-picker-controls">
        <button class="btn btn-default cancel-selection" ng-click="cancelSelection()">Effacer</button>
        <button class="btn btn-success save-selection" ng-click="confirmPerimeter($event)">Valider</button>
      </div>
  </div>
  </form>
</div>
