<h1>Clients Professionnels</h1>
<div class="period-by-controls">
afficher les tendances par : 
	<div class="btn-group">
		<button class="btn btn-default btn-sm">jour</button>
		<button class="btn btn-primary btn-sm">mois</button>
		<button class="btn btn-default btn-sm">ann&eacute;e</button>
	</div>
</div>

<div class="clearfix">
</div>

<div class="signatures">
</div>
